* {
  padding: 0;
  margin: 0;
  font-family: "Germania One";
}

#sound{
  width: 30px;
  height : 30px;
  cursor: pointer;
  position: absolute;
  top : 465px;
  left : 15px;
}

.gameovernone{
  position: absolute;
  width : 400px;
  height: 500px;
  background: rgba(0,0,0,0.5);
  display: none;
}

.gameover{
  position: absolute;
  width : 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: block;
  justify-content: center;
  align-items: center;
}

.youwon{
  width: 100px;
  position: absolute;
  top : 200px;
  left : 150px;
  display: none;
}

.youlosenone{
  width:400px;
  position: absolute;
  top: 100px;
  left : 0px;
  display: none;
 }
 
.youlose{
  display: block; 
  padding-top: 20%;
  margin-left: auto; 
  margin-right: auto; 
}

#restart{
  display: flex; 
  justify-content: center;
  padding-top: 5%;
  text-align: center;
  cursor: pointer;
  font-size: 4.25em;
  color : #FFF;
}

#startnone{
  display: none; 
  background: rgba(0,0,0,0.8);
  justify-content: center;
  padding-top: 5%;
  text-align: center;
  cursor: pointer;
  font-size: 4.25em;
  color : #FFF;
}

#start{
  display: flex; 
  justify-content: center;
  padding-top: 5%;
  text-align: center;
  cursor: pointer;
  font-size: 4.25em;
  color : #FFF;
}

#startgame{
   position: absolute;
   display: flex;
  width : 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: block;
  justify-content: center;
  align-items: center;
}
#startgamenone{
  position: absolute;
  width : 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display:none;
  justify-content: center;
  align-items: center;
}

#startgame2{
  display: flexbox; 
  padding-left: 25%;
  padding-top: 5%; 
  width: 50%;
  justify-content: center;
  
}
#startgame2none{
  position: absolute;
  width : 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: block;
  justify-content: center;
  align-items: center;
}